= form_with url: authenticate_path do |f|
  %p= f.text_field :email, placeholder: 'Email'
  %p= f.password_field :password, placeholder: 'Password'
  %p= f.submit 'Login'

%p or

= google_sign_in_button 'Sign in with my Google account', proceed_to: google_login_url

%p= flash[:alert]
