%p= link_to 'Back', @poll

%h1= @poll.name

- @poll.choices.abc.each do |c|
  %p
    - if c.live?
      = link_to c.name, c
    - else
      %strike= link_to c.name, c


%h3 Add a choice
= form [@poll, Choice.new] do |f|
  = f.text_field :name
  = f.submit 'Add'


%br
%br
%br

= form @poll do |f|
  = f.text_field :name
  = f.text_field :slug
  = f.check_box :live, label: 'Poll is live'
  = f.submit 'Save'
