%p= link_to 'Back', root_path

%h1= @poll.name
%p= link_to 'Edit Choices', [:edit, @poll]
%p= link_to 'Edit Participants', [@poll, :caucuses]
%p= link_to 'Vote History', [@poll, :ballots]

%h2 Vote

.row.ballot{ data: { controller: 'ballot' } }
  .col-sm
    = form [@poll, Ballot.new] do |f|
      %h3 Choices
      %ul.choices{ data: { target: 'ballot.choices' } }
        - @poll.choices.live.by_random.each do |c|
          = f.fields_for 'rankings[]', Ranking.new(choice: c) do |rf|
            %li{ data: { ballot: { choice_id: c.id }}}
              = rf.hidden_field :choice_id
              = c.name

  .col-sm
    = form [@poll, Ballot.new] do |f|
      %h3 Ranking
      %ol.rankings{ data: { target: 'ballot.rankings' } }
      = f.submit 'Submit'


- if Current.user.ballots.latest

  %h2 Last Ballot
  %p= local_time Current.user.ballots.latest.created_at
  %ol
    - Current.user.ballots.latest.rankings.includes(:choice).each do |r|
      %li= r.choice.name
